{% load staticfiles %}
<html>

<head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen" />
</head>

<body>
{% block content %}
<h1 class="text-info">Hello {{ name }}!</h1>
{% endblock  %}
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>